<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <router-outlet></router-outlet>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-sidenav-container class="height-100" autosize="true" [hasBackdrop]="true">
      <mat-sidenav #sidenav class="height-100" [mode]="&apos;side&apos;" [position]="&apos;start&apos;" [opened]="true" autoFocus="true" fixedInViewport="false">
        <div fxLayout="row wrap" style="height: 24px" fxLayoutAlign="none center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-icon style="margin-left: 40%" class="cursor">menu</mat-icon>
            <div>
              <button mat-button style="position:sticky;">Dashboard</button><button mat-button>Bill</button><button mat-button>View Orders</button><button mat-button>View Stocks</button><button mat-button>Add Stocks</button>
            </div>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button style="margin-left: 38em;margin-top:2em" class="addbut">Add Items +</button></div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>

        <div fxLayout="column" class="table">
          <table mat-table [dataSource]="page?.tableData" matSort class="table-width-fix">
            <tr mat-header-row *matHeaderRowDef="[&apos;itemno&apos;,&apos;itemid&apos;,&apos;itemname&apos;,&apos;category&apos;]"></tr>
            <tr mat-row *matRowDef="let row; columns: [&apos;itemno&apos;,&apos;itemid&apos;,&apos;itemname&apos;,&apos;category&apos;];"></tr>

            <ng-container matColumnDef="itemno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Item No.</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.itemno}}</td>
            </ng-container>

            <ng-container matColumnDef="itemid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Item ID</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.itemid}}</td>
            </ng-container>

            <ng-container matColumnDef="itemname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.itemname}}</td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.category}}</td>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>