<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <router-outlet></router-outlet>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-sidenav-container class="height-100" autosize="true" [hasBackdrop]="true">
      <mat-sidenav #sidenav class="height-100" [mode]="&apos;side&apos;" [position]="&apos;start&apos;" [opened]="true" autoFocus="true" fixedInViewport="false">
        <div fxLayout="row wrap" style="height: 24px" fxLayoutAlign="none center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-icon style="margin-left: 40%" class="cursor1">menu</mat-icon>
            <div>
              <button mat-button style="margin-top: 2vh;">Dashboard</button><button mat-button style="margin-top: 2vh;">Bill</button><button mat-button style="margin-top: 2vh;">View Orders</button><button mat-button style="margin-top: 2vh;">View Stocks</button><button mat-button style="margin-top: 2vh;">Add Stocks</button>
            </div>
          </div>
        </div>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button style="margin-left: 31em;margin-top:6em" class="addbut">Add Items +</button></div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        <div fxLayout="row wrap" style="position:sticky;margin-left:8em;margin-top:-26em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <b>Item.No</b>
            <div>

              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Input" [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div>
            <b>Item ID</b>
            <div>

              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Input" [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div>
            <b>ItemName</b>
            <div>

              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Input" [required]="false">

              </mat-form-field>
            </div>
          </div>
          <div>
            <b>Category</b>
            <div>
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-select placeholder="Select" [required]="false">
                  <ng-template ngFor let-option [ngForOf] let-i="index">
                    <mat-option [value]></mat-option>
                  </ng-template>
                </mat-select>

              </mat-form-field>
            </div>
          </div>
          <div>
            <b>Brand</b>
            <div>
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-select placeholder="Select" [required]="false">
                  <ng-template ngFor let-option [ngForOf] let-i="index">
                    <mat-option [value]></mat-option>
                  </ng-template>
                </mat-select>

              </mat-form-field>
            </div>
          </div>
          <div>
            <b>Size</b>
            <div>
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <mat-select placeholder="Select" [required]="false">
                  <ng-template ngFor let-option [ngForOf] let-i="index">
                    <mat-option [value]></mat-option>
                  </ng-template>
                </mat-select>

              </mat-form-field>
            </div>
          </div>
          <div>
            <b>Amount</b>
            <div>

              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput placeholder="Input" [required]="false">

              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button style="background-color:palegreen;margin-left: 40em;margin-top:-14em">Submit</button></div>
  </div>
</div>